$border-clr: rgba(37, 49, 60, 0.7);
$primary-clr: rgba(37, 49, 60, 1);
$secondary-clr: rgba(37, 49, 60, 0.7);

.user-profile-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 5em 0 10em 0;

  .bio {
    display: flex;
    gap: 4em;
    align-items: center;
    padding: 0 1em 3em 1em;
    border-bottom: 1px solid $border-clr;

    .avatar {
      min-width: 210px;
      border: 1px solid $border-clr;
      background: grey;
      aspect-ratio: 1/1.1;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1em;
      color: $primary-clr;

      h3 {
        font-size: 1.2rem;
        font-weight: 800;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      span {
        display: block;
        font-size: 0.7rem;
        font-weight: 300;
        letter-spacing: 0.1em;
      }

      p {
        font-size: 0.7rem;
        color: $secondary-clr;
        font-weight: 600;
        line-height: 1.4em;
      }
    }
  }

  .links {
    width: min-content;
    display: flex;
    gap: 3em;
    margin: 4em auto 8em auto;

    h6 {
      width: max-content;
      font-size: 1rem;
      font-weight: 900;
      color: $primary-clr;
      cursor: pointer;

      span {
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }

  .none {
    display: none;
  }

  .active {
    border-bottom: 2px solid $primary-clr;
  }

  .blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;
    row-gap: 6em;
    margin-bottom: 6em;

    .display-blog {
      grid-template-columns: 1fr;
      gap: 1em;

      .blog-content {
        justify-content: center;
      }
    }
  }
  & > .btn {
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .user-profile .bio {
    flex-direction: column;
    gap: 0.75em;

    .info {
      gap: 0.7em;
      h3 {
        text-align: center;
        margin-bottom: 1em;
      }
    }
  }

  .user-profile-container {
    padding: 5em 0 4em 0;
    .blog-container {
      grid-template-columns: 1fr;
    }
    .links {
      margin: 3em auto 5em auto;
    }
  }
}
